<div id="particles-js">
  <div class="header">
        <h1>
          <center><img style="border-radius: 15px;width: 100px;-webkit-user-select: none;margin: auto;cursor: zoom-in;height: 100px;" src="https://avatars3.githubusercontent.com/u/27095315?s=400&u=aa48854aa5f24478dfb1e276f4a2b95653a91a5c&v=4" width="100" height="100"></center>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
          <a href="https://github.com/murraco" style="
    font-size: x-large;
    color: white;
">Blog</a>
      </h1>
      <div class="header-icons">
        <a aria-label="My Mail" href="mailto:dave.delgadog@hotmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/dave_sdelgado/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/DaveSDNPlay"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/DaveNPlay"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
